## Artifacts
*.DS_Store
*pycache*
*egg-info*
*build/
*dist/
*.err
*.out
*.ipynb_checkpoints*

## Data
data/raw
data/models/
data/resources/synthetic-wnut_2017/raw/
data/annotations/synthetic-wnut_2017/