## Artifacts
*.DS_Store
*pycache*
*egg-info*
*build/
*dist/
*.err
*.out
*.ipynb_checkpoints*

## Data
data/resources/synthetic-wnut_2017/raw/
data/models/
!data/models/README.md
data/annotations/
!data/annotations/README.md